/Assets/**
!/Assets/My/
!/Assets/My/**
!/Assets/My*
!/Assets/XR/
!/Assets/XR/**
!/Assets/XRI/
!/Assets/XRI/**
/Library/**
/Logs/**
/obj/**
/.vsconfig
/.vs
/Temp
/Assembly-CSharp.csproj
/ExperimentCooling.sln
/Unity.XR.Interaction.Toolkit.Samples.DeviceSimulator.csproj
/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj
/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Editor.csproj